<!DOCTYPE html>
<html>
<head>

{% match refresh %}
  {% when Some with (seconds) %}
    <meta http-equiv="refresh" content="{{ seconds }}">
  {% when None %}
{% endmatch %}

<title>AI Wargame - Broker Internal State</title>

<style>
{% include "styled-table.css" %}
</style>

</head>
<body>

<table class="styled-table">
<thead>
<tr>
    <th>Game ID</th>
    <th>Turn</th>
    <th>From</th>
    <th>To</th>
    <th>Age</th>
</tr>
</thead>
{% for (gameid,turndata) in game_data %}
<tr>
    <td>{{ gameid }}</td>
    <td>{{ turndata.turn }}</td>
    <td>{{ turndata.from }}</td>
    <td>{{ turndata.to }}</td>
    <td>{% match turndata.updated %}
        {% when Some with (update) %}
            {% match update.elapsed() %}
            {% when Ok with (duration) %}
                {{ duration.as_secs() }}s
            {% when Err with (_) %}
            {% endmatch %}
          {% when None %}
        {% endmatch %}
    </td>
</tr>
{% endfor %}
</td>
</table>

</body>
</html>
